.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.App .fromDiv{
  display: grid;
  padding: 100px 350px;
  background-color: rgb(29, 22, 53);
}
.App .fromDiv .fromLable{
  color: rgb(245, 201, 8);
}
.App .fromDiv .btn{
  margin: 10px;
}
.App .fromDiv .btn .cnlBtn{
  /* margin-right:  17%; */
  background-color: rgb(136, 213, 236);
  color: aliceblue;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 60px;
  margin-right: 24px;
}
.App .fromDiv .btn .cnlBtn:hover{
 cursor: pointer;
 background-color: azure;
 color:rgb(136, 213, 236) ;
}
.App .fromDiv .btn .addBtn{
  background-color: rgb(17, 172, 94);
  color: aliceblue;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 60px;
  margin-left: 24px;
}
.App .fromDiv .btn .addBtn:hover{
  cursor: pointer;
  background-color: aliceblue;
  color: rgb(17, 172, 94);
}
